.container__content{
    width: 100%;
    height: 100vh;

    margin-top: 25px;

    display: flex;
    flex-direction: column;

    align-items: center;
}


.content__cover > img{
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px ; 
    width: 550px;
    min-width: 550px;
    height: 400px;
}


.content__description {
    margin-top: 15px;
}

.content__description > p{
    color: rgb(190, 184, 184);
}
